/public/advertiser/csv/*
/public/provider/csv/*
/public/proposal/csv/*
/database/.config
/assets/lib/.configSMTP
composer.json
composer.lock
index_.php
package-lock.json
package.json
/node_modules/
vendor/
geomapa.php
gnogcrm.code-workspace
google.php
google2.php
info.php
/public/billboards/
/public/sheets/
/public/proposals/
/public/proposals/*
